<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Playground</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
  </head>

  <div class="demo-only" style="height:800px">
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-welcome-mat" aria-labelledby="welcome-mat-13-label" aria-describedby="welcome-mat-13-content" aria-modal="true">
      <div class="slds-modal__container">
        <!--
        <header class="slds-modal__header slds-modal__header_empty">
          <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg>
            <span class="slds-assistive-text">Close</span>
          </button>
        </header>
  -->
        <div class="slds-modal__content slds-welcome-mat__content slds-grid" id="welcome-mat-13-content">
          <div class="slds-welcome-mat__info slds-size_1-of-2">
            <div class="slds-welcome-mat__info-content">
              <h2 id="welcome-mat-13-label" class="slds-welcome-mat__info-title">The Lightning Navigator is here!</h2>
              <div class="slds-welcome-mat__info-description slds-text-longform">
                <p>Welcome to Lightning Navigator, the tool that helps you organaize, explore and navigate your Salesforce Metadata. Build Data Dictioary directly from any org with secure OAuth connection. This toool was built by Developers & Admins to enable you to focus on better support your business instead of searching details and making documentation.</p>
              </div>
<!--
              <div class="slds-welcome-mat__info-progress">
                <p>
                <strong>0/5 units completed</strong>
                </p>
              </div>
              <div class="slds-progress-bar slds-progress-bar_circular" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" role="progressbar">
                <span class="slds-progress-bar__value" style="width:0%">
                <span class="slds-assistive-text">Progress: 0%</span>
                </span>
              </div>
-->
            </div>
          </div>
          <ul class="slds-welcome-mat__tiles slds-size_1-of-2 slds-p-around_medium">
            <li class="slds-welcome-mat__tile">
              <a href="sfauth" class="slds-box slds-box_link slds-box_x-small slds-media">
                <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center slds-m-left_xx-small">
                  <div class="slds-welcome-mat__tile-icon-container">
                    <span class="slds-icon_container slds-icon-utility-animal_and_nature">
                      <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#animal_and_nature"></use>
                      </svg>
                    </span>
                    <span class="slds-icon_container slds-icon_container_circle slds-icon-action-check" title="Completed">
                      <svg class="slds-icon slds-welcome-mat__icon-check" aria-hidden="true">
                        <use xlink:href="/assets/icons/action-sprite/svg/symbols.svg#check"></use>
                      </svg>
                      <span class="slds-assistive-text">Completed</span>
                    </span>
                  </div>
                </div>
                <div class="slds-media__body slds-border_left slds-p-around_small">
                  <h3 class="slds-welcome-mat__tile-title">Login to Salesforce</h3>
                  <p class="slds-welcome-mat__tile-description">Login to Developer ORG. This tool inspect only Metadata, using in Production is not recomended.</p>
                </div>
              </a>
            </li>

            <li class="slds-welcome-mat__tile">
              <a href="sfauthsb" class="slds-box slds-box_link slds-box_x-small slds-media">
                <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center slds-m-left_xx-small">
                  <div class="slds-welcome-mat__tile-icon-container">
                    <span class="slds-icon_container slds-icon-utility-call">
                      <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#call"></use>
                      </svg>
                    </span>
                    <span class="slds-icon_container slds-icon_container_circle slds-icon-action-check" title="Completed">
                      <svg class="slds-icon slds-welcome-mat__icon-check" aria-hidden="true">
                        <use xlink:href="/assets/icons/action-sprite/svg/symbols.svg#check"></use>
                      </svg>
                      <span class="slds-assistive-text">Completed</span>
                    </span>
                  </div>
                </div>
                <div class="slds-media__body slds-border_left slds-p-around_small">
                  <h3 class="slds-welcome-mat__tile-title">Login to Salesforce</h3>
                  <p class="slds-welcome-mat__tile-description">Login to Sandbox ORG.</p>
                </div>
              </a>
            </li>

<!--
<li class="slds-welcome-mat__tile">
<a href="javascript:void(0);" class="slds-box slds-box_link slds-box_x-small slds-media">
<div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center slds-m-left_xx-small">
<div class="slds-welcome-mat__tile-icon-container">
<span class="slds-icon_container slds-icon-utility-upload">
<svg class="slds-icon slds-icon-text-default" aria-hidden="true">
<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#upload"></use>
</svg>
</span>
<span class="slds-icon_container slds-icon_container_circle slds-icon-action-check" title="Completed">
<svg class="slds-icon slds-welcome-mat__icon-check" aria-hidden="true">
<use xlink:href="/assets/icons/action-sprite/svg/symbols.svg#check"></use>
</svg>
<span class="slds-assistive-text">Completed</span>
</span>
</div>
</div>
<div class="slds-media__body slds-border_left slds-p-around_small">
<h3 class="slds-welcome-mat__tile-title">Power Up the Utility Bar</h3>
<p class="slds-welcome-mat__tile-description">Tap into case history or share notes with fellow agents—it all happens on the utility bar.</p>
</div>
</a>
</li>
<li class="slds-welcome-mat__tile">
<a href="javascript:void(0);" class="slds-box slds-box_link slds-box_x-small slds-media">
<div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center slds-m-left_xx-small">
<div class="slds-welcome-mat__tile-icon-container">
<span class="slds-icon_container slds-icon-utility-magicwand">
<svg class="slds-icon slds-icon-text-default" aria-hidden="true">
<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#magicwand"></use>
</svg>
</span>
<span class="slds-icon_container slds-icon_container_circle slds-icon-action-check" title="Completed">
<svg class="slds-icon slds-welcome-mat__icon-check" aria-hidden="true">
<use xlink:href="/assets/icons/action-sprite/svg/symbols.svg#check"></use>
</svg>
<span class="slds-assistive-text">Completed</span>
</span>
</div>
</div>
<div class="slds-media__body slds-border_left slds-p-around_small">
<h3 class="slds-welcome-mat__tile-title">Customize your view</h3>
<p class="slds-welcome-mat__tile-description">Tailor your cases to your team&#x27;s workflow with custom list views.</p>
</div>
</a>
</li>
<li class="slds-welcome-mat__tile">
<a href="javascript:void(0);" class="slds-box slds-box_link slds-box_x-small slds-media">
<div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center slds-m-left_xx-small">
<div class="slds-welcome-mat__tile-icon-container">
<span class="slds-icon_container slds-icon-utility-knowledge_base">
<svg class="slds-icon slds-icon-text-default" aria-hidden="true">
<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#knowledge_base"></use>
</svg>
</span>
<span class="slds-icon_container slds-icon_container_circle slds-icon-action-check" title="Completed">
<svg class="slds-icon slds-welcome-mat__icon-check" aria-hidden="true">
<use xlink:href="/assets/icons/action-sprite/svg/symbols.svg#check"></use>
</svg>
<span class="slds-assistive-text">Completed</span>
</span>
</div>
</div>
<div class="slds-media__body slds-border_left slds-p-around_small">
<h3 class="slds-welcome-mat__tile-title">Share the Knowledge</h3>
<p class="slds-welcome-mat__tile-description">Harness your team&#x27;s collective know-how with our powerful knowledge base.</p>
</div>
</a>
</li>
-->

</ul>
</div>
</div>
</section>
<div class="slds-backdrop slds-backdrop_open"></div>
</div>

</html>